# =====================
# ORACLE DATABASE
# =====================
ORACLE_PWD=OraclePassw@rd123
ORACLE_PORT=1521
ORACLE_CONTAINER_NAME=oracle_xe
ORACLE_CHARACTERSET=AL32UTF8

# =====================
# SPRING BOOT DB USER
# =====================
DB_USER=Your_User
DB_PASS=YourUserPass@123

# =====================
# STMP
# =====================
MAIL_USERNAME=your gmail
MAIL_PASSWORD=your secret key, can get it here: https://myaccount.google.com/apppasswords, you need to turn on 2FA first.
